.body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1 {
    color: #333;
    font-family: Arial, sans-serif;
}
.button {
    background-color: rgb(100, 31, 165);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
}
.button:hover {
    background-color: rgb(100, 31, 165);
}
.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
.div {
    text-align: center;
    border-radius: 12px;
    border: #4d117e solid 2px;
    background-color: blueviolet;
    padding: 20px;
    width: 300px;
    transform: initial;
}   