.body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 20px;
}
.div {
    background-color: #ffffff;
    border: 2px solid #4caf50;
    border-radius: 10px;
    padding: 20px;
    text-align: initial;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: 2px solid darkgreen;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #4caf50;
}