.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8c3de7;
    place-items:center;
    display: grid;
}
.input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.div_principal {
    text-align: center;
    margin-top: 50px;
    border: 0.25px solid #009af3;
    padding: 10px;
    background: #009af3;
    border-radius: 10px;
}
.h2 {
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.div{
    border:0cqmax;
}