.body {
    background-color: lightblue;
    align-items: center;
    text-align: center;
}

.div {
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
    background-color: white;
    display: grid;
    padding-bottom: 20px;
    border-radius: 20px;
    place-items: center;
}
.button {
    margin-top: 20px;
    gap: 10px;
}
.button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5350df;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}