.input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.div {
    text-align: center;
    margin-top: 50px;
    border: 0.25px solid #009af3;
    padding: 10px;
    background: #009af3;
    border-radius: 10px;
}
.h1_2 {
    color: #ffffff;
    font-family: Arial, sans-serif, 4opx;
    margin-bottom: 20px;
}
.h1 {
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.window {
    background-color: #8437db;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}